.bgc{
    background-color: pink;
}

.boximage{
    margin: auto;
    width: 400px;
}

td{
    text-align: center;
    
}
table{
    border:0;
    width: 90%;
    margin:auto;
    table-layout: auto;
}

.renk0{
    background-color: rgb(238, 238, 238);
}

.renk1{
    background-color:rgb(126, 229, 218);
}

.renk2{
    background-color: rgb(112, 204, 194);
}

.renk3{
    background-color: rgb(98, 179, 170);
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }